html
    head
        include head.pug
        title IT Portal - 404
    body
        p(class="error-header") 404 Error
        p(class="error-small-text") The page you're looking does't exist.
        a Back to the main.