html
    head
        include head.pug
        title IT Portal - #{title}
    body
        block header
            include header.pug
        main(class="main")
            block content
        block footer
            include footer.pug